{% load static %}
<!DOCTYPE HTML>
<html>
<head>
	<script src="{% static 'charts.js' %}"></script>
<script>
	var neg = "{{neg}}";
	var neu = "{{neu}}";
	var pos = "{{pos}}";
	var com = "{{com}}";
	console.log(neg)
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Current Sentiment for searched keyword on Twitter"
	},
	data: [{
		type: "pie",
		startAngle: 25,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabelFontSize: 16,
		indexLabel: "{label} - {y}%",
		dataPoints: [
			{ y: neg, label: "Negative" },
			{ y: neu, label: "Neutral" },
			{ y: pos, label: "Positive" },
			
			
		]
	}]
});
chart.render();

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 700px; width: 100%;"></div>
</body>
</html>